@page "/"

<section id="headline">
    <hgroup>
        <h1>fantasy football tools and metrics</h1>
        <h3>for thrifty Yahoo players who have other shit to do</h3>
    </hgroup>
</section>

<section id="features">
    <div class="grid">
        <div>
            <article>
                <h3>powered by AI</h3>
                <p>ottoriot's proprietary AI projections model is accurate, speedy, and (near) fully autonomous...and only getting better.</p>
            </article>
        </div>
        <div>
            <article>
                <h3>precision metrics</h3>
                <p>the other guys cherry pick metrics to fit their dumb, biased opinions. ottoriot's metrics correlate strongly with on-field performance.</p>
            </article>
        </div>
        <div>
            <article>
                <h3>built for speed</h3>
                <p>ottoriot eliminates the noise and silences the so-called "experts" with fart breath, because you got other shit to do.</p>
            </article>
        </div>
    </div>
    <div class="grid">
        <div>
            <article>
                <h3>lineup optimization</h3>
                <p>for you daily players who spend way too much time building competitive lineups. this tool alone is worth the price of admission.</p>
            </article>
        </div>
        <div>
            <article>
                <h3>focused strategy</h3>
                <p>guides that make sense and don't require a PhD is bro-statistics. ottoriot provides all the numbers you need to build better lineups.</p>
            </article>
        </div>
        <div>
            <article>
                <h3>made by humans</h3>
                <p>yep, ottoriot is built for actual people to help them be better fantasy football players. the machines haven't taken over...yet.</p>
            </article>
        </div>
    </div>
</section>

<section id="pricing-table">
    <div class="grid">
        <div>
            <article>
                <header class="thin">
                    <hgroup>
                        <h2 class="text-center">$5 /yr</h2>
                        <h5 class="text-center">LEAGUE</h5>
                    </hgroup>
                </header>
                <ul>
                    <li>precision projections</li>
                    <li>impactful metrics</li>
                    <li>winning strategies</li>
                    <li>no fluff, noise, or b.s.</li>
                </ul>
                <footer><button class="contrast">Subscribe League</button></footer>
            </article>
        </div>
        <div>
            <article>
                <header class="thin">
                    <hgroup>
                        <h2 class="text-center">$20 /yr</h2>
                        <h5 class="text-center">DFS</h5>
                    </hgroup>
                </header>
                <ul>
                    <li>precision projections</li>
                    <li>impactful metrics</li>
                    <li>winning strategies</li>
                    <li>no fluff, noise, or b.s.</li>
                    <li>time saving daily tools</li>
                </ul>
                <footer><button class="contrast">Subscribe DFS</button></footer>
            </article> 
        </div>
    </div>
</section>

@code {
}
