@page "/projections"
@inject MetaService Meta

<hgroup>
    <h1>fantasy football projections</h1>
    @if(Model != null)
    {
        <h3>@Model.Season week @Model.Week</h3>
    }
</hgroup>

@if (@Model != null)
{
    <PredictionsView Season="@Model.Season" Week="@Model.Week" />
}

@code {
    private MetaModel Model = null;

    protected override async Task OnInitializedAsync()
    {
        Model = await Meta.Fetch();
    }
}

