@inject NavigationManager UriHelper

<header>
    <nav class="thin">
        <ul>
            <li><strong><a href="/" class="brand">ottoriot</a></strong></li>
        </ul>
        <ul>
            <li role="list" dir="rtl">
                <a href="#" aria-haspopup="listbox">metrics</a>
                <ul role="listbox">
                    <li><a @onclick="ProjectionsClick">projections</a></li>
                    <li><a @onclick="OddsCLick">odds</a></li>
                </ul>
            </li>
            <li role="list" dir="rtl">
                <a href="#" aria-haspopup="listbox">tools</a>
                <ul role="listbox">
                    <li><a @onclick="LineupClick">lineup optimizer</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

@code {

    private void ProjectionsClick()
    {
        UriHelper.NavigateTo("projections");
    }

    private void OddsCLick()
    {
        UriHelper.NavigateTo("game-odds");
    }

    private void LineupClick()
{
        UriHelper.NavigateTo("lineup-optimizer");
}
}

