<header class="bg-dark text-secondary py-1 mb-3">
    <div class="container grid-lg">
        <a class="text-light mr-3" href="/">ottoriot</a>
        <a class="text-light mr-2" href="/game-odds">odds</a>
     </div>
</header>

@code {

}

