<footer class="background-grey color-white">
    <div class="container grid-lg">
        <p class="font-weight-light"><small>&copy; 2022 - <a href="/">ottoriot.com</a> (i am alive)</small></p>
    </div>
</footer>

@code {

}

